 <div class="fixed-top bg-primary align-items-center py-3">
        <div class="d-flex justify-content-between align-items-center px-3" >
          <%= link_to  :back do %>
            <%= image_tag "back.png", class: 'arrow' %>
          <% end  %>
          <h3 class="text-sm m-0" >New Category</h3>
        </div>
  </div>

 <div class="bg-fond_gris h-screen mt-5">  
  <%= form_with(model: @group, url: user_groups_path) do |f| %>
  <div class="form-group mt-5">
    <%= f.text_field :name, autofocus: true, placeholder: "Enter category name", autocomplete: 'name', class: 'form-control' %>
  </div>

    <div class="form-group mt-3" >
      <%= f.select  :icon, ["Select label for an icon", "Services", "Education", "Healthcare", "Finance", "Utilities", "Other"], class: "form-control" %>
    </div>
  </div> 
  <div class="actions">
      <%= f.submit 'SUBMIT', class: 'btn btn-primary fixed-bottom d-flex justify-content-center align-items-center' %>
  </div>
  <% end %>  
  </div>
